.media-item {
  position: relative;
  display: block;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #0004;
  box-shadow: 0 10px 20px #0004;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bottom-container {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 20%;
  background: linear-gradient(to top, #0004 0%, transparent 100%);
  display: flex;
  flex-direction: column-reverse;
  transform: translateY(100%);
  transition: transform 0.2s;
  pointer-events: none;
}

.media-item:hover .bottom-container {
  transform: translateY(0);
}

.top-container {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 20%;
  background: linear-gradient(to bottom, #0004 0%, transparent 100%);
  display: flex;
  flex-direction: row;
  justify-content: end;
  transform: translateY(-100%);
  transition: transform 0.2s;
  pointer-events: none;
}

.media-item:hover .top-container {
  transform: translateY(0);
}

.top-container .tools {
  pointer-events: all;
  padding: 5px;
  display: flex;
}

.tags {
  pointer-events: all;
  display: flex;
  gap: 4px;
  padding: 4px;
  width: 100%;
  white-space: nowrap;
  overflow: auto;
  scrollbar-width: none;
}

.tags::-webkit-scrollbar {
  display: none;
}

.tags .tag {
  background: #fff4;
  border: 1px solid #fffd;
  padding: 2px 4px;
  border-radius: 10em;
  color: white;
  font-size: 10pt;
}
