<div class='media-item'>
  <div class="top-container">
    <div class="tools">
      <app-button (click)="window.open(data().url, '_blank')"
                  color="#fff"
                  type="discrete"
      >
        <ng-icon button-icon name="matOpenInNew" size="24"></ng-icon>
      </app-button>
      <app-button (click)="delete()" color="#fff" type="discrete">
        <ng-icon button-icon name="matDelete" size="24"></ng-icon>
      </app-button>
    </div>
  </div>
  <a [relativeTo]="activatedRoute" [routerLink]="['./', data().id]">
    <img [alt]="data().tags.join(', ')" [src]="data().url"/>
  </a>
  @if (data().tags.length > 0) {
    <div class="bottom-container">
      <div class="tags">
        @for (t of data().tags; track t) {
          <app-media-tag type='light'>{{ t }}</app-media-tag>
        }
      </div>
    </div>
  }
</div>
