div {
  border-width: 3px;
  border-style: solid;
  border-top-color: transparent !important;
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
