<div>
  <a routerLink="/my-galleries">← Back to my galleries</a>
</div>
<div *ngIf="gallery$ | async as gallery">
  <div class="title">
    <div class="title-name">{{ gallery.name }}</div>
    <div *ngIf="media$ | async as media" class="stats">
      {{ media.length }} images
    </div>
  </div>
  <app-gallery-viewer [media$]="media$">
  </app-gallery-viewer>
  <app-fullscreen-media *ngIf="fullscreenMedia$ | async as media" [data]="media"></app-fullscreen-media>
</div>
<ng-template #loading>
  <h1>Loading</h1>
</ng-template>
