<div>
  <a routerLink="/my-galleries">← Back to my galleries</a>
</div>
<div *ngIf="gallery$ | async as gallery">
  <div class="title">
    <div class="title-name">{{ gallery.name }}</div>
    <div *ngIf="media$ | async as media" class="stats">
      {{ media.length }} images
    </div>
  </div>
  <a routerLink='add'>Add media</a>
  @let isAdding = isAdding$ | async;
  @if (isAdding) {
    <app-media-adder
      (closed)="router.navigate(['.'], {relativeTo: route})"
      [gallery]="gallery"
    ></app-media-adder>
  }
  <app-gallery-viewer *ngIf="media$ | async as media" [media]="media">
  </app-gallery-viewer>
  @let state = fullscreen$ | async;
  @if (state && state.current !== null) {
    <app-fullscreen-media
      [data]="state.current"
      [nextId]="state.next"
      [previousId]="state.previous"
    ></app-fullscreen-media>
  }
</div>
<ng-template #loading>
  <h1>Loading</h1>
</ng-template>
