<app-popup (closed)="closed.emit()">
  <div class="box">
    <h1>Add media to {{ gallery.name }}</h1>
    <app-media-drawer [(items)]="items"></app-media-drawer>
    <div class="tags-input">
      @if (tags().length > 0) {
        <div class="tag-list">
          @for (tag of tags(); track tag) {
            <div class="tag">{{ tag }}</div>
          }
        </div>
      }
      <input (keydown)="tagKeyDown($event)" [(ngModel)]="tagInput" placeholder="Tags seperated by commas"/>
    </div>
    @if (items().length > 0) {
      <app-button class="save-btn" (click)="save()">
        Save {{ items().length }} new media
      </app-button>
    }
  </div>
</app-popup>
