.box {
  background: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  width: 700px;
  height: 400px;
}


.sources {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
}

.source-item {
  display: flex;
  align-items: center;
  gap: 5px;
}


.source-item > div {
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 5px 0;
}
