<div *ngIf="gallery$ | async as gallery else loading">
  <div class="heading">
    @let user = authService.user$ | async;
    @if (user) {
      <div class="user">
        <img alt="User" [src]="user.photoURL"/>
        <div>{{ user.displayName }}</div>
      </div>
    }
    <div class="gallery-name">{{ gallery.name }}</div>
    <div *ngIf="media$ | async as media" class="stats">
      {{ media.length }} images
    </div>
  </div>
  <app-button>
    <ng-icon button-icon name="matAdd" size="24"></ng-icon>
    <span (click)="router.navigate(['add'], {relativeTo: route})">Add
      media</span>
  </app-button>
  @let isAdding = isAdding$ | async;
  @if (isAdding) {
    <app-media-adder
      (closed)="router.navigate(['.'], {relativeTo: route})"
      [gallery]="gallery"
    ></app-media-adder>
  }
  <app-gallery-viewer *ngIf="media$ | async as media" [galleryId]="gallery.id"
                      [media]="media">
  </app-gallery-viewer>
  @let state = fullscreen$ | async;
  @if (state && state.current !== null) {
    <app-fullscreen-media
      [data]="state.current"
      [nextId]="state.next"
      [previousId]="state.previous"
      (closed)="router.navigate(['.'], {relativeTo: route})"
    ></app-fullscreen-media>
  }
</div>
<ng-template #loading>
  <app-loading [size]="30" color="#000000"></app-loading>
</ng-template>
