.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

img {
  position: relative;
  height: 90dvh;
  max-width: calc(100% - 150px);
  object-fit: contain;
}

.btn-placeholder {
  width: 44px;
  height: 44px;
}
