<app-popup (closed)="closed.emit()">
  <div class="container">
    @if (previousId) {
      <app-button
        color="#fff"
        type="discrete"
        (click)="router.navigate([previousId],{relativeTo: activatedRoute})"
      >
        <ng-icon button-icon name="matChevronLeft" size="32"></ng-icon>
      </app-button>
    }
    <img [alt]="data.tags.join(',')" [src]="data.url"/>

    @if (nextId) {
      <app-button
        color="#fff"
        type="discrete"
        (click)="router.navigate([nextId],{relativeTo: activatedRoute})"
      >
        <ng-icon button-icon name="matChevronRight" size="32"></ng-icon>
      </app-button>
    }
  </div>
</app-popup>
