<div>
  <div class="thumbnail">
    @for (s of (thumbnails | async); track s.id) {
      <img [src]="s.url" [alt]="s.tags.join(',')"/>
    }
  </div>
  <div class="buttons">
    <app-button class="btn" color="white" type="discrete">
      <ng-icon button-icon name="matEdit" size="16"></ng-icon>
    </app-button>
    <app-button class="btn" color="white" type="discrete">
      <ng-icon button-icon name="matDelete" size="16"></ng-icon>
    </app-button>
  </div>
  <div class="backdrop"></div>
  <div class="content">
    <div class="name">{{ galleryName() }}</div>
    <div class="count">{{ itemCount | async }} items</div>
  </div>
</div>
